<div class="container" >

<h3 class="hero-title">{% if state_name %}{{ state_name }}{% endif %} Closings: {{ closed_stores.stores|length }}</h3>
<table class="table" hx-get="/hx_closed?state={{state}}" hx-trigger="every 2s">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">State</th>
      <th scope="col">City</th>
      <th scope="col">Status</th>
      <th scope="col">Address</th>
    </tr>
  </thead>
  <tbody>
  {% for store in closed_stores.stores|sort(attribute='state') %}
  <tr>
      <th scope="row" style="color: #dca325;"><a style="color: #dca325;" target="_blank" href="https://wafflehouse.locally.com/store/{{store.store_id}}">{{ store.name }}</a></th>
      <td>{{ store.state }}</td>
      <td>{{ store.city }}</td>
      <td>{% if store.status == 'Closed - Closed' %}{{ store.status }}*{% else %}{{ store.status }}{% endif %}</td>
    <td>{{ store.address }}</td>
    </tr>
  {% endfor %}

  </tbody>
</table>
    <p class="text-xs">*Closed - Closed may mean site is permanently closed or closed for remodel.</p>
</div>